body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(29, 31, 31);
  color: aliceblue;
  font-family: "Cinzel", serif;
}

#head {
  display: flex;
  justify-content: center;
  margin: 15%;
  font-size: 25px;
}

#another {
  display: flex;
  justify-content: center;
}
