body {
  box-sizing: border-box;
  background-color: rgb(29, 31, 31);
  color: aliceblue;
  font-family: "Cinzel", serif;
}

#main {
  margin: 15%;
}

#card {
  display: block;
  text-align: center;
  font-size: 50px;
}

h2 {
  margin: 13px;
}

#card1 {
  display: flex;
  justify-content: center;
  margin: 5px;
}

#card-btn {
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
}
