body {
  box-sizing: border-box;
  background-color: rgb(29, 31, 31);
  color: aliceblue;
  font-family: "Cinzel", serif;
}

#main {
  margin: 15%;
}

#card {
  display: block;
  text-align: center;
}
#welcome {
  font-size: 40px;
}

#to {
  font-size: 40px;
}

#of {
  font-size: 40px;
}

#jmw {
  font-size: 40px;
}

h2 {
  margin: 13px;
}

#card1 {
  display: flex;
  justify-content: center;
  margin: 5px;
}

#card-btn {
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  font-family: "Cinzel", serif;
  background-color: aliceblue;
}

.none {
  display: none;
}

.inandout {
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
